<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    
    <authentication mode="Forms">
        <forms
          loginUrl="Login.aspx"
          name=".ASPXAUTH"
          path="/"
          defaultUrl="Default.aspx"/>
    </authentication>

    <membership defaultProvider="AspNetSqlMembershipProvider">
        <providers>
          <clear/>
          <add name="AspNetSqlMembershipProvider"
        type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="AspNetSqlServer"
        applicationName="/"
        minRequiredNonalphanumericCharacters="0"
        maxInvalidPasswordAttempts="5"
        enablePasswordRetrieval="false"
        enablePasswordReset="true"
        requiresQuestionAndAnswer="false"
        requiresUniqueEmail="true"/>
        </providers>
      </membership>
      <roleManager enabled="true" defaultProvider="SqlProvider">
        <providers>
          <clear />
          
          <add connectionStringName="AspNetSqlServer" applicationName="/"
              name="SqlProvider" type="System.Web.Security.SqlRoleProvider" />
          <!--inidca la cadena de conex a la q trabajara-->
          
        </providers>
      </roleManager>
    
    </system.web>

  <connectionStrings>
    <add name="AspNetSqlServer"
         
   connectionString="Data Source=DOMI;Initial Catalog=Autorizacion;Integrated Security=True"
   providerName="System.Data.SqlClient" />
    
    
  <add name="ConectaAutores"
      connectionString="Data Source=DOMI;Initial Catalog=Escuela;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
   
    <!--Encriptr cadena-->
  
    <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
    </location>
  
  
  
 
   




</configuration>
