<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
  </system.web>
  
  <location path="Busqueda.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  
  <location path="DataSet.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Usuario"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Eliminar.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador,Usuario"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
