<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>

    </system.web>
  <location path="CrearUsuario.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="EliminarUsuario.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Visualizar.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
 
</configuration>
